# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore environment-specific files
.env

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore log files
*.log

# Ignore virtual environment directories
venv/
env/
